body {
    font-family: 'Courier New', Verdana, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background: #eee;
  }

.title {
    color: orange;
    background-color: green;
    text-align: center;
    font-size: 50px;
    border: 8px double red;
    border-radius: 10px 0;
    height: auto;
    width: 400px;
    margin: 30px auto;
    margin-bottom: 70px;
    padding: 20px;
}

.heading {
    color: red;
    background-color: yellow;
    border: 8px inset lightseagreen;
    border-radius: 10px 0;
    font-size: 25px;
    text-align: center;
    height: 25px;
    width: 200px;
    margin: 20px auto;
    padding: 25px;
}

.content {
    margin: 35px;
    padding: 10px;
}

div {
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
}
  
.links {
    font-weight: bold;
    margin: 35px;
    padding: 10px;
}

.link_button {
    background: orange;
    border: 5px outset black;
    border-radius: 0 10px;
    height: auto;
    width: 150px;
    display: block;
    margin: 20px auto;
    margin-top: auto;
    padding: 10px;
}
