body {
    font-family: 'Courier New', Verdana, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background: #eee;
  }

.title {
    color: orange;
    background-color: green;
    text-align: center;
    font-size: 50px;
    border: 8px solid red;
    border-radius: 10px 0;
    height: auto;
    width: 400px;
    margin: 30px auto;
    padding: 20px;

}

.heading {
    color: red;
    border: 8px solid lightseagreen;
    border-radius: 10px 0;
    font-size: 25px;
    text-align: center;
    height: 25px;
    width: 200px;
    margin: 20px auto;
    padding: 25px;

}

.links {
    font-weight: bold;
}